
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

  html {
    background-color: #19587d;
  }
  body {
    /*width: 500px;*/
    margin: 0 auto;
    background-color: #000;
    font-family: 'Times New Roman', Times, serif;
    /*padding: 0 300px 300px 300px;*/
    /*border: 50px solid black;*/
  }
  .up-bar{
    border-top: #727272 2px solid;
    position: relative;
    top: 132px;
    width: 80%;
    left: 102px ;

  }
  .logo:hover{
    filter: drop-shadow(10px 10px 5px #ffff00);
    -webkit-filter: drop-shadow(10px 10px 5px #ffff00);
  }
  header{
    background-image: url(../Illustrations/Bathome1.png);
    background-size: 100vw 70vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    margin: 40px;
  }
.elementfleche{
  display: block;
  justify-content: center;
  text-align: center;
}
  .container ul{
   padding-left: 85%;
   text-align: 70px;
  }
#image-logo{
  margin-top: 50px;
}
  .container h1{
    padding-left: 5vw;
  }
  .element-haut{
    text-align: center;
    justify-content: center;
    margin-top: 50vh;
    
  }
  .scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 50vh;
    margin-left: 80vw;
  }
  .scroll .social{
    margin-top: 15px;
  }
  /*Design de la section batman personnage */
  #container batman-cinema{
    margin-top: 40px;
    text-align: center;
  }
  #titre-image .img{
    display: flex;
    justify-content: left;
    margin-left: 95%;
    text-align: left;
  }
 .batman-personnage{
   display: flex;
   justify-content: center;
  }
 #batman-cinema .titre{
   text-transform: uppercase;
   justify-content: center;
   font-weight: bold;
   margin: 30px 0;
    }
 #batman-justice-league .titre{
  text-transform: uppercase;
  justify-content: center;
  font-weight: bold;
  margin: 30px 0;
    }
 #batman-cinema .description{
   margin-bottom: 40px;
   text-align: justify;
   width: 80%;
   font-size: 21px;
  }
 #descrition .p{
  margin-bottom: 40px;
  text-align: justify;
  width: 80%;
  font-size: 21px;
 }
 #batman-justice-league p{
  margin-bottom: 40px;
  text-align: justify;
  width: 80%;
  font-size: 21px;
 }
 #batman-cinema .personnage-info h3{
   text-align: center;
 }
 #batman-cinema .personnage-info p{
  text-align: center;
 }
.batman-item img{
justify-content: center;
display: flex;
width: 19vw;
height: auto;
margin-right: 8vw;
  }
/* Design de la partie NÉMÉSIS */
.container-némésis>.descriptions{
  display: flex;
  text-align: center;
  margin: 2vw;
}
.NÉMÉSIS-personnage{
  display: flex;
  justify-content: center;
  }
#image-em{
  margin-top: 5px;
  }
#batman-NÉMÉSIS .titre{
  text-transform: uppercase;
  justify-content: left;
  font-weight: bold;
  margin: 30px 0;
   }
.némésis-item img{
  justify-content: center;
  display: flex;
  width: 19vw;
  height: auto;
  margin-right: 8vw;
  }
  #batman-NÉMÉSIS p{
  margin-bottom: 40px;
  text-align: justify;
  width: 80%;
  font-size: 21px;
  }
  #batman-NÉMÉSIS .personnage-info h3{
  text-align: center;
   }
  #batman-NÉMÉSIS .personnage-info p{
    text-align: center;
   }
 /* Design de la partie ALLIÉS */
 #ALLIES .titre{
  text-transform: uppercase;
  justify-content: center;
  font-weight: bold;
  margin: 30px 0;
  text-align: left;
 }
 #image-alli{
  margin-left: 70vw;
}
.container>.description{
  display: flex;
  text-align: center;
  margin: 5vw;
} 
#batman-cinema> h1{
  display: flex;
  text-align: center;
  margin: 5vw;

}

.ALLIES-personnage{
  display: flex;
  justify-content: center;
}
#batman-ALLIES .personnage-info{
  text-align: center;
 }
 .alliés-item img{
  display: flex;
  justify-content: right;
  width: 19vw;
  height: auto;
  margin-right: 8vw;
 }
 /* Design de la partie multimedia */
 #multimedia .slider-multimedia{
   display: flex;
   width: 50%;
   margin: 40px auto;
 }
 #multimedia .slider-image{
   with:100%;
 }
 #multimedia .slider-content{
   padding: 10px;
   background-color: #727272;
 }
 #multimedia p{
   background-size: 14px;
 }
 #multimedia .annoncing-image img{
  display: flex;
  width: 85%;
  margin: 50px auto;
 }
 #multimedia .fleche-left img{
  display: flex;
  flex-direction: left;
  width: 40px;
  margin-left: 25vh;
  margin-right: 80vw;
 }
 #multimedia .fleche-right img{
  display: flex;
  flex-direction: right;
  width: 40px;
  margin-right: 90vh;
  margin-left: 80vw;
 }
.element-ba h3{
  display: flex;
  justify-content: space-between;
  margin-left: 25vw;
  margin-right: 25vw;
}
.element p{
  justify-content: center;
  text-align: right;
}
#multimedia button{
  position:relative;
  top: 155px;
  background: none;
  border: none;
}
/* Design de la partie - Formulaire */
#contact{
  background-color: darkslategrey;
  padding: 70px 0;
}
#contact .form{
  width: 50%;
  margin: 0 auto;
}
#contact h2{
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}
#contact .titre{
  display: block;
  margin: 28px 0;
}
#contact .form input[type='email'],textarea{
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 80%;
  border-bottom: 2px solid rgb(120, 120, 120);
  background-color: transparent;
  padding: 10px 0;
}
#contact .icon img{
  transform: rotate(90deg);
}
#contact .news{
  margin: 15px 0;
  border-bottom: 2px solid rgb(120, 120, 120);
}
::-ms-input-placeholder{
  color: #f8f184;
  font-size: 15px;
}
::placeholder{
  color: #f8f184;
  font-size: 15px;
}
.btn-group{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.form input[type='radio']{
  opacity: 0;
}
.btn-group label{
  cursor: pointer;
  padding: 10px;
  border: 2px solid;
        -o-border-image: linear-gradient(
          69deg, red, blue
        ) 1;
        border-image:  linear-gradient(
          69deg,red, blue
        ) 1;
  font-size: 20px;
}
input[type='submit']{
  display: block;
  width: 230px;
  margin: 25px auto;
  padding: 15px 0;
}
#citation{
  margin: 90px;
}
#citation .citation-carte{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#citation .citation-auteur{
  padding-top: 30px;
  font-size: 14px;
  font-family: 'radjhani';
}
#citation .guillemet-close{
  float: right;
}
/* Design du footer */
footer{
  margin-top: 162px;
}
footer .text-footer{
  text-align: center;
  font-size: 14px;
}
footer .social-footers{
  text-align: center;
  margin: 50px;
}
footer .social-item{
  padding: 15px;
}





          